* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  /* Maintains aspect ratio after resizing page */
  object-fit: contain;
}
